<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>test</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="dataset">Sélectionnez un fichier CSV :</label>
        <input type="file" name="dataset" id="dataset" required accept=".csv">
        <select id="algo" name="algo">
            <option value="Linear Regression">Régression Linéaire</option>
            <option value="SVR">SVR (Support Vector Regression)</option>
            <option value="Decision Tree">Arbre de Décision</option>
        </select>
        <input type="submit" value="Valider">
    </form>
    {% if algo %}
        <p>Algorithme choisi : <strong>{{ algo }}</strong></p>
    {% endif %}

    {% if params %}
        <h2>Résultats :</h2>
        <p><strong>x_test : </strong> {{ params['x_test'].tolist() }}</p>
        <p><strong>y_test : {{ params['y_test'].tolist() }}</strong></p>
        <p><strong>Prédictions sur X_test :</strong> {{ params['md'].predict(params['x_test']).tolist() }}</p>
    {% endif %}
    <form method="POST" action="/evaluate" enctype="multipart/form-data">
        <input type="hidden" name="filename" value="{{ filename }}">
        <input type="hidden" name="algo" value="{{ algo }}">
        <button type="submit">Évaluer le modèle</button>
    </form>
    {% if metrics %}
        <h2>Évaluation du modèle :</h2>
        <p><strong>Score :</strong> {{ metrics['score'] }}</p>
        <p><strong>Erreur quadratique moyenne (MSE) :</strong> {{ metrics['mse'] }}</p>
        <p><strong>Erreur absolue moyenne (MAE) :</strong> {{ metrics['mae'] }}</p>
    {% endif %}
    <form method="POST" action="/save" enctype="multipart/form-data">
        <input type="hidden" name="filename" value="{{ filename }}">
        <input type="hidden" name="algo" value="{{ algo }}">
        <button type="submit">Sauvegarder le modèle</button>
    </form>

    {% if save %}
        <p><strong>{{ save }}</strong></p>
    {% endif %}
</body>
</html>
